html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.atm {
    width: 90%;
    height: 90%;
    margin: auto;
    background-image: url('cajero.png');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.atm h1 {
    max-height: 20px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    
}

.subtitle {
    margin-top: 30px;
}

.atm button {
    display: block;
    margin: 20px auto 0 auto;
    width: 280px;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
    align-items: self-start;
}
